.progress-bar{
background-color: grey;
width: 400px;
border-radius: 4px;
}

.progress{
background-color: pink;
border-radius: 4px;
transition: .5s ease;
}

.switch-bg{
  background-color: grey;
  width: 40px;
  height: 20px;
  border-radius: 12px;
}

.switch-toggle{
  border-radius: 50%;
  background-color: pink;
  height: 20px;
  width: 20px;
}

.switch-toggle.checked{
  transform: translateX(100%);
  transition: .3s ease;
}